[user]
    name = Nick Welch
    email = nick@incise.org
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
[merge]
    conflictstyle = diff3
[push]
    default = current
[pull]
    ff = only
